<div class="auth">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a href="#login">Войти</a></li>
                <li class="tab col s6"><a href="#register">Регистрация</a></li>
            </ul>
        </div>
        <div id="login" class="col s6 offset-s3">
            {{#if loginError}}
                <p class="alert">{{loginError}}</p>
            {{/if}}
            <h1>Войти в магазин</h1>
            <form action="/auth/login" method="POST">
                <div class="input-field col s9">
                    <input id="email" type="email" name="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Введите email" data-success="right"></span>
                </div>
                <div class="input-field col s9">
                    <input id="password" type="password" name="password" class="validate" required>
                    <label for="password">Пароль</label>
                    <span class="helper-text" data-error="Введите пароль" data-success="right"></span>
                </div>
                <div class="col s9">
                    <p><a href="/auth/reset">Забыли пароль?</a></p>
                    <button type="submit" class="btn btn-primary">
                        Войти
                    </button>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
            </form>
        </div>
        <div id="register" class="col s6 offset-s3">
            {{#if registerError}}
                <p class="alert">{{registerError}}</p>
            {{/if}}
            <h1>Зарегистрироваться в магазине</h1>
            <form action="/auth/register" method="POST">
                <div class="input-field col s9">
                    <input id="remail" type="email" name="email" class="validate" required>
                    <label for="remail">Email</label>
                    <span class="helper-text" data-error="Введите email" data-success="right"></span>
                </div>
                <div class="input-field col s9">
                    <input id="rpassword" type="password" name="password" class="validate" required>
                    <label for="rpassword">Пароль</label>
                    <span class="helper-text" data-error="Введите пароль" data-success="right"></span>
                </div>
                <div class="input-field col s9">
                    <input id="confirm" type="password" name="confirm" class="validate" required>
                    <label for="confirm">Пароль еще раз</label>
                    <span class="helper-text" data-error="Введите пароль" data-success="right"></span>
                </div>
                <div class="input-field col s9">
                    <input id="name" type="text" name="name" class="validate" required>
                    <label for="confirm">Ваше имя</label>
                    <span class="helper-text" data-error="Введите имя" data-success="right"></span>
                </div>
                <div class="col s9">
                    <button type="submit" class="btn btn-primary">
                        Зарегистрироваться
                    </button>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
            </form>
        </div>
    </div>
</div>