<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}
        <h1>Задать пароль</h1>
        <form action="/auth/password" method="POST">
            <div class="input-field col s9">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">Новый пароль</label>
                <span class="helper-text" data-error="Введите пароль" data-success="right"></span>
            </div>
            <div class="col s9">
                <button type="submit" class="btn btn-primary">
                    Обновить пароль
                </button>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
        </form>
    </div>
</div>