<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}
        <h1>Забыли пароль?</h1>
        <form action="/auth/reset" method="POST">
            <div class="input-field col s9">
                <input id="email" type="email" name="email" class="validate" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Введите email" data-success="right"></span>
            </div>
            <div class="col s9">
                <button type="submit" class="btn btn-primary">
                    Восстановить
                </button>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
        </form>
    </div>
</div>