<h1>Добавить новый курс</h1>
{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST" novalidate>
    <div class="input-field col s6">
        <input id="title" type="text" name="title" class="validate" required value="{{data.title}}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название" data-success="right"></span>
    </div>
    <div class="input-field col s6">
        <input id="price" type="number" name="price" class="validate" required min="1" value="{{data.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену" data-success="right"></span>
    </div>
    <div class="input-field col s6">
        <input id="img" type="text" name="img" class="validate" required value="{{data.img}}">
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите url картинки" data-success="right"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn waves-effect waves-light">
        Добавить курс
        <i class="material-icons right">add</i>
    </button>
</form>