<h1>Редактировать {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
    <div class="input-field col s6">
        <input id="title" type="text" name="title" class="validate" required value="{{course.title}}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название" data-success="right"></span>
    </div>
    <div class="input-field col s6">
        <input id="price" type="number" name="price" class="validate" required min="1" value="{{course.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену" data-success="right"></span>
    </div>
    <div class="input-field col s6">
        <input id="img" type="text" name="img" class="validate" required value="{{course.img}}">
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите url картинки" data-success="right"></span>
    </div>

    <input type="hidden" name="id" value="{{course._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn btn-primary">Редактировать курс</button>
</form>

<form action="/courses/remove" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{course._id}}">
    <button class="btn red">Удалить курс</button>
</form>