<h1>Курсы</h1>

{{#if courses.length}}
{{#each courses}}
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-image">
        <img src="{{img}}" alt={{title}}>
      </div>
      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p class="price">{{price}}</p>
        <br>
        <small>Автор</small>
        <p>{{userId.name}}</p>
      </div>
      <div class="card-action actions">
        <a href="/courses/{{_id}}" target="_blank" class="waves-effect waves-light btn" style="color:#ffffff">Открыть
          курс</a>
        {{#if @root.isAuth}}
        
        {{#ifeq userId._id @root.userId}}
        <a href="/courses/{{_id}}/edit?allow=true" target="_blank"
          class="btn-floating halfway-fab waves-effect waves-light  teal lighten-2"><i
            class="material-icons">edit</i></a>
        {{/ifeq}}

        <form action="/card/add" method="POST" class="actions__form">
          <input type="hidden" name="_csrf" value="{{@root.csrf}}">
          <input type="hidden" name="id" value="{{_id}}">
          <button type="submit" class="btn btn-primary">Купить</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
<p>Курсов пока нет</p>
{{/if}}